numpy<2
pandas
matplotlib
seaborn
scipy
scikit-learn
statsmodels
plotly
yellowbrick
dython
termcolor
pillow
ipython


# modelos pesados separados
xgboost
optuna

# deep learning (instalar aparte si falla)
torch
torchvision

kagglehub

spacy